<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>LOG IN</title>

        <nav>
            <span class = "spacer"></span>
            <ul>
                <a href="{{ url_for('main') }}">Home</a>
            </ul>
        </nav>
    </head>
    <body>
        <h1 style="text-align: unset;">Log In</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Log In">
        </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </body>
</html>